body {
    font-family: Arial, sans-serif;
    background-color: #333;
}

header {
    max-width: 940px;
    margin: auto;
    margin-top: 0px;
    padding: 10px 0;
    background-color: #FF0350;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space;
    align-items: center;
}

header img {
    max-height: 100px;
    vertical-align: middle;
    margin-left: 10px;
}

h1 {
    padding: 10px;
    vertical-align: middle;
    font-size: 40px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

h2 {
    padding: 10px;
    vertical-align: middle;
    font-size: 30px;    
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

h3 {
    padding-left: 10px;
    vertical-align: middle;
    font-size: 20px;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.main-content-container {
    max-width: 940px;
    margin: auto;
    height: fit-content;
    background-color: #fff; /* Hintergrundfarbe für den Hauptinhalt */
}

.allDisplay-container {
    display: flex;
    flex-direction: row;
    justify-content: space;
    align-items: start;
}

.display-container {
    width: 200px;
    height: 160px;
    border-width: 2px;
    border-radius: 5px;
    border-color: #000;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.display-info-container {
    margin: 5px;
}

.allAssets-container {
    display: flex;
    flex-direction: row;
    justify-content: space;
    align-items: start;
}

.asset-container {
    width: 200px;
    /* height: 160px; */
    border-width: 2px;
    border-radius: 5px;
    border-color: #000;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.asset-container:hover {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

input {
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-width: 1px;
    border-radius: 10px;
    border-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #FF0350;
    color: #fff;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #bb0038;
    color: #fff;
}

.asset-buttons {
    background-color: #FF0350;
    color: #fff;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}

.asset-buttons:hover {
    background-color: #bb0038;
    color: #fff;
}

label {
    margin: 5px;
}

nav {
    display: flex;
    color: #fff;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    margin: auto;
}

ul {
    display: flex;
    justify-content: center;
}